name: CI - Build & Test Spring Boot

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du repo
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Maven - Build
        run: mvn -B package --file pom.xml

      - name: Maven - Tests unitaires
        run: mvn test

      - name: Construire l'image Docker
        run: docker build -t spring-app:latest .
